.post {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(50, 50, 93, 0.1);
  cursor: pointer;
  @media (max-width: 768px) {
    margin-bottom: 8px;
  }
}

.post:hover {
  background-color: #fff8e8;
}

.author-img {
  border-radius: 50%;
  width: 2.5rem;
}

.author-name {
  position: relative;
  font-size: 12px;
  opacity: 0;
  transition: 0.3s;

  &.hovered {
    opacity: 1;
  }
}
