@import "_helpers.css";

@font-face {
  font-family: ApercuMono;
  src: url(ApercuMono.otf);
}

body {
  margin: 0;
  padding: 0;
  font-family: "";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "ApercuMono", monospace;
}

.container {
  max-width: 800px;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
}
