@font-face {
  font-family: ApercuMono;
  src: url(assets/ApercuMono.otf);
}
//Resets
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "ApercuMono", monospace;
  background-color: #f4f4f4;
}
